---
// src/pages/docs/[...slug].astro
import { getCollection, type CollectionEntry } from "astro:content";
import DocsLayout from "../../layouts/DocsLayout.astro";

export async function getStaticPaths() {
    const docs = await getCollection("docs");
    return docs.map((doc: CollectionEntry<"docs">) => ({
        params: { slug: doc.data.slug || doc.slug }, // Use custom slug if available
        props: { doc },
    }));
}

type Props = {
    doc: CollectionEntry<"docs">;
};

const { doc } = Astro.props;
const { Content } = await doc.render();
const displaySlug = doc.data.slug || doc.slug;
---

<DocsLayout currentSlug={displaySlug}>
    <article>
        <!-- <h1>{doc.data.title}</h1>
        {
            doc.data.description && (
                <p class="description">{doc.data.description}</p>
            )
        } -->
        <Content />
    </article>
</DocsLayout>

<style>
    article {
        /* max-width: 65ch; */
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    .description {
        color: #666;
        font-size: 1.125rem;
        margin-bottom: 2rem;
    }
</style>
