---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import content from "../../../data/svg/svg-pages-text-content";
import { marked } from "marked";
import FeaturesComponent from "../../../layouts/FeaturesComponent.astro";
import ListPoints from "../../../layouts/ListPoints.astro";
import Section from "../../../layouts/Section.astro";
---

<BaseLayout title="SVG Features">
  <div class="bg-white pt-navDouble">
    <Section
      className="svg-features"
      bgColor="bg-base-bright"
      color="text-base-dark-blue"
      page
    >
      <FeaturesComponent page={content.pages.page_01} />
    </Section>
  </div>
</BaseLayout>
