---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ReleasesComponent from "../../../layouts/ReleasesComponent.astro";
import Section from "../../../layouts/Section.astro";
import content from "../../../data/2d-animator/lottie-pages-text-content";
---

<BaseLayout title="2D Animator Releases">
  <div class="bg-white pt-navDouble">
    <Section
      className="2d-anim-releases"
      bgColor="bg-base-bright"
      color="text-base-dark-blue"
      page
    >
      <ReleasesComponent page={content.pages.page_02} />
    </Section>
  </div>
</BaseLayout>
