@use './index.scss' as *;
@use './colors.scss' as *;
@use './vars.scss' as *;
// @use './docs.scss' as *;
@use './lottie-animation' as *;

// $sm: 640px;
// $md: 900px;
// $lg: 1024px;
// $xl: 1280px;
// $_2xl: 1536px;

h1 {
  @apply text-4xl font-black leading-[1.3] pb-8;
}

h2 {
  @apply text-3xl font-bold leading-[1.1] pb-4;
}

h3 {
  @apply text-2xl font-bold pb-4;
}

h4 {
  @apply text-xl font-bold pb-4;
}

h5 {
  @apply text-lg text-center pb-0;
}

h6 {
  @apply text-sm text-center pb-2;
}

div, p {
  @apply leading-[1.5] text-base;
}


// Font family Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


// Font family Caveat
@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


// Font family Inter
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-BlackItalic.ttf') format('truetype');
//   font-weight: 900;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-ExtraBoldItalic.ttf') format('truetype');
//   font-weight: 800;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-ExtraLightItalic.ttf') format('truetype');
//   font-weight: 200;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-LightItalic.ttf') format('truetype');
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-MediumItalic.ttf') format('truetype');
//   font-weight: 500;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-SemiBoldItalic.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('/assets/fonts/Inter_18pt-ThinItalic.ttf') format('truetype');
//   font-weight: 100;
//   font-style: italic;
// }


@font-face {
  font-family: 'Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
}

.hero-section {
  // min-height: calc(100vh - 2.5rem - 2.5rem);
}

.list {    
    a {
        color: var(--c-indigo-lighter);
    }
}
.gradient {
  background-image: radial-gradient(ellipse at center, #051f34 0%, #051f34 20%, rgba(0,0,0,0) 50% );
}

.accent-success {
  @apply text-violet-lighter;
}

.policy-section h2,
.policy-section h3 {
    padding-top: 2rem;
}

.text-curstom-gradient-orange {
  @apply bg-gradient-to-r from-[#eb8e3c] to-[#ff167f] bg-clip-text text-transparent;
}

.text-curstom-gradient-blue {
  @apply bg-gradient-to-r from-[#24e8ee] to-[#006eff] bg-clip-text text-transparent;
}

.text-curstom-gradient-violet {
  @apply bg-gradient-to-br from-[#f1f1f1] to-[#c3ace7] bg-clip-text text-transparent;
}


// Animated gradient - shift colors
.text-gradient-animated-orange-blue {
  background: linear-gradient(90deg, #eb8e3c, #ff167f, #24e8ee, #006eff, #eb8e3c, #ff167f,);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientShift 10s ease-in-out infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 0% 50%;}
  
}


// Animated gradient morph
.text-gradient-morph {
  position: relative;
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(90deg, #eb8e3c, #ff167f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-gradient-morph::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #24e8ee, #006eff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  pointer-events: none;
  animation: fadeBlue 10s ease-in-out infinite;
  white-space: nowrap;
}

@keyframes fadeBlue {
  0% { opacity: 0; }
  45% { opacity: 0; }
  50% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

