@use './colors.scss' as *;
@use './vars.scss' as *;



// $sm: 640px;
// $md: 900px;
// $lg: 1024px;
// $xl: 1280px;
// $_2xl: 1536px;


// .text-custom {
//     font-size: 16px;
//     color: blue;

//     @media (min-width: $xl) {
//         &.md\:text-custom {
//             font-size: 20px;
//             color: orange;
//         }
//     }
// }


// .page-content {

//     border: 4px solid green;

//     @media (min-width: $xl) {
//         &.md\:page-content {
//             border: 4px solid blue;
//             max-width: $xl + 300px;
//         }
//     }
// }

h1 {
  @apply text-4xl font-bold leading-[1.3] pb-8;
}

h2 {
  @apply text-3xl font-bold leading-[1.1] pb-4;
}

h3 {
  @apply text-2xl font-bold pb-4;
}

h4 {
  @apply text-xl font-bold pb-4;
}

h5 {
  @apply text-lg text-center pb-0;
}

h6 {
  @apply text-sm text-center pb-2;
}

div, p {
  @apply leading-[1.5] text-base;
}




@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}




@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}






body {
  font-family: 'Montserrat', system-ui, sans-serif;
  font-size: 16px;
  // background-color:#222222;
}

// sections
// Hero Section

.hero-section {
  // min-height: calc(100vh - 2.5rem - 2.5rem);
}


.list {    
    // strong {}
    a {
        color: var(--c-indigo-lighter);
    }
}
.gradient {
  background-image: radial-gradient(ellipse at center, #051f34 0%, #051f34 20%, rgba(0,0,0,0) 50% );
}

.accent-success {
  @apply text-violet-lighter;
}

.policy-section h2,
.policy-section h3 {
    padding-top: 2rem;
}

.text-curstom-gradient-violet {
  @apply bg-gradient-to-br from-[#f1f1f1] to-[#c3ace7] bg-clip-text text-transparent;
}
