.laptop-card {
    &::before {
        content: "";
        position: absolute;
        top: calc(100% + 16px);
        left: -16px;
        height: 20px;
        width: calc(100% + 32px);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;        
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }

    &::after {
        content: "";
        position: absolute;
        top: calc(100% + 16px);
        left: 50%;
        height: 12px;
        width: 30%;
        transform: translate(-50%,0);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: rgba(255,255,255,0.9);
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.45);
    }
}