---
import BaseLayout from "../layouts/BaseLayout.astro";
import EulaContent from "../policies/eula.md";
---


<BaseLayout title="End User License Agreement">
    <section class="
        policy-section 
        bg-base-bright 
        text-base-dark-blue 
        pt-navDouble 
        pb-pxPage
        px-pxPage 
        max-w-custom-standard
        mx-auto
        text-justify
        rounded
        "
    >
        <EulaContent />
    </section>
</BaseLayout>

