---
import BaseLayout from "../layouts/BaseLayout.astro";
import LottieReactContent from "./lottie-react/lottie-react.md";


---


<BaseLayout title="Lottie React">

    <section class="
        docs
        lottie-react 
        bg-custom-gradient-indigo 
        text-white pt-navSingle
        pb-pxPage
        px-pxPage 
        max-w-custom-standard
        mx-auto
        text-justify
        rounded
        "
    >
        <LottieReactContent />
    </section>
</BaseLayout>