---
import BaseLayout from "../layouts/BaseLayout.astro";
import PrivacyPolicy from "../policies/privacy-policy.md";
---


<BaseLayout title="Privacy Policy">
    <section class="
        policy-section 
        bg-base-bright 
        text-base-dark-blue 
        pt-navDouble 
        pb-pxPage
        px-pxPage 
        max-w-custom-standard
        mx-auto
        text-justify
        rounded
        "
    >
        <PrivacyPolicy />
    </section>
</BaseLayout>
