---

interface Props {
  bgColor?: string;
}

const {bgColor = 'bg-[#ffffff06]'} = Astro.props;
---

<>
  <div
    class={`
      ${bgColor} 
      rounded-lg 
      border 
      border-white/[.16] 
      
      h-full
      `}
      style={{padding: 'var(--sl-nav-pad-x)'}}
  >
    <slot />
  </div>
</>
