---
import { marked } from "marked";

import type { Item } from "../types/types";

interface Props {
  subTitleColor?: string;

  items: Item[];
  shadowColor?: string;
  icon?: string;
  iconColor?: string;
}

const {
  subTitleColor,
  items,
  shadowColor = "0,0,0,0.5",
  icon,
  iconColor = "sky-blue-light",
} = Astro.props;
---

<div class="list">
  <ul class="text-xs">
    {
      items?.map((item) => (
        <li class="mb-6 w-full flex flex-col items-start">
          {item.title && (
              <div class="mb-2 text-white" set:html={marked(item.title)} />
          )}
          {item.content && <div class={`mb-4 ${subTitleColor ? subTitleColor : 'text-custom-grey-400'}`}  set:html={marked(item.content)} />}
        </li>
      ))
    }
  </ul>
</div>
