---
import { marked } from "marked";

import type { Item } from "../types/types";
import check from "../../public/assets/common/icons/check-circle.svg?raw";

interface Props {
  titleColor?: string;
  subTitleColor?: string;
  items: Item[];
  shadowColor?: string;
  icon?: string;
  iconColor?: string;
  checkIcon?: boolean;
}

const {
  titleColor,
  subTitleColor,

  items,
  shadowColor = "0,0,0,0.5",
  icon,
  checkIcon = true,
  iconColor = "sky-blue-light",
} = Astro.props;
---

<div class="list">
  <ul class="text-xs">
    {
      items?.map((item) => (
        <li class="mb-6 w-full flex flex-row items-center">
          {checkIcon ? (
            <div
              class={` w-[24px h-[24px] text-${iconColor} mr-2 `}
            >
              <div set:html={check} />
            </div>
          ) : null}
          
          <div>
            {item.title && (
              <div class={`list-header ${titleColor ? titleColor : ''}`} set:html={marked(item.title)} />
            )}
            {item.content && <div class={`${subTitleColor ? subTitleColor : "text-custom-grey-400"}`} set:html={marked(item.content)} />}
          </div>
          
        </li>
      ))
    }
  </ul>
</div>
